# Node dependencies
node_modules/
Frontend/node_modules/
Backend/node_modules/

# Environment Variables
.env
.env.*
Backend/.env
Frontend/.env

# Build outputs
dist/
Frontend/dist/
build/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS and Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
